<app-header labelRight="登出" (rightButtonClick)="rightButtonClick()"></app-header>
<section>
	<div style="padding:60px 0;">
		<marquee direction="left" behavior="marquee" loop="infinite" scrollamount="5" bgcolor="#31b0d5" hspace="" vspace=""  scrolldelay="" align="center" valign="middle"  width="100%" height="30px"  style="color:red">欢迎您登陆Eclipse手机系统</marquee>

		<br/><br/>
        <menu-item label="客户信息"></menu-item>
        <menu-item label="账号列表" [floatDirectionReverse]="true"></menu-item>
        <menu-item label="账号链接"></menu-item>
        <menu-item label="账号转账" [floatDirectionReverse]="true"></menu-item>
        <menu-item label="账号列表"></menu-item>
        <menu-item label="申请账号" [floatDirectionReverse]="true"></menu-item>
        <menu-item label="申请信用卡"></menu-item>
        <menu-item label="信用卡还款" [floatDirectionReverse]="true"></menu-item>
		<menu-item label="理财产品"></menu-item>
        <menu-item label="交易记录" [floatDirectionReverse]="true"></menu-item>
  	</div>
</section>
<app-footer></app-footer>