<section>
	<div>
		<carousel>
		  <slide>
		    <img src="./assets/images/citisite1.jpeg" alt="First slide">
		    <div class="carousel-caption">
		          <h4>花旗银行Eclipse</h4>
		          <p>欢迎您的登录</p>
		    </div>
		  </slide>
		  <slide>
		    <img src="./assets/images/citisite2.jpeg" alt="Second slide">
		    <div class="carousel-caption">
		          <h4>花旗银行Eclipse</h4>
		          <p>竭诚为您服务</p>
		    </div>
		  </slide>
		  <slide>
		    <img src="./assets/images/citisite3.jpeg" alt="Third slide">
		    <div class="carousel-caption">
		          <h4>花旗银行Eclipse</h4>
		          <p>与时俱进</p>
		    </div>
		  </slide>
		</carousel>
	</div>
	<div style="background:url(./assets/images/citicity.jpg) no-repeat top left scroll;background-size: 100%;">
		<br/><br/><br/><br/><br/>
		<div><input type="text" placeholder="用户名"></div>
		<br/>
		<div><input type="password" placeholder="密码"></div>
		<br/><br/><br/>
		<div>
			<button type="button" class="btn btn-primary">登陆</button>
			<button type="button" class="btn btn-warning">清空</button>
		</div>
	</div>
</section>